# KERNELBRANCH='branch:linux-4.17.y'

# Bitcoin Core packages
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL build-essential libtool autotools-dev automake pkg-config libssl-dev libevent-dev bsdmainutils python3 libboost-system-dev libboost-filesystem-dev libboost-chrono-dev libboost-program-options-dev libboost-test-dev libboost-thread-dev libqt5gui5 libqt5core5a libqt5dbus5 qttools5-dev qttools5-dev-tools libprotobuf-dev protobuf-compiler libqrencode-dev software-properties-common"
